#landing
  .container.vcenter
    .col-xs-12.vcenter
      h1
        span we are
        strong  Adapt
    .contact
      p
        a(href='mailto:hola@adapt.cl') hola@adapt.cl
      p Av. Del Parque 4160, Torre A, Piso 2
      p Santiago · Chile
